.StaticPage {
  &__div {
    padding: 15px 0px;
    padding-bottom: 0px;
    &__container {
      padding: 25px;
      padding-bottom: 50px;
      &__mainHeading {
        display: block;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: $primary;
        border-bottom: 5px solid $primary;
        padding: 6px 10px;
        width: max-content;
        margin: auto !important;
        margin-bottom: 35px !important;
      }
      &__heading {
        width: 100%;
        display: block;
        font-size: 18px;
        font-weight: 700;
      }
      &__discription {
        width: 100%;
        display: block;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px !important;
        &__liStyling {
          padding: 15px;
        }
      }
      &__list {
        &__icon {
          min-width: 25px !important;
        }
        margin-bottom: 10px !important;
        .MuiListItemText-root {
          margin-top: 0px;
          margin-bottom: 0px;
        }
        .MuiSvgIcon-root {
          width: 15px;
          height: 15px;
          min-width: 20px;
        }
      }
    }
  }
}
