.StaticPage {
  &__div {
    @include space(padding, all, $padding-15, 0);
    @include space(padding, bottom, 0, 0);
    padding-bottom: 0px;
    &__container {
      @include space(padding, all, $padding-25, $padding-25);
      padding-bottom: 50px;
      min-height: calc(100vh - 226px);
      
      &__mainHeading {
        display: block;
        font-size: $font-xx-reg;
        text-align: left;
        text-transform: uppercase;
        font-weight: $font-600;
        color: $primary;
        @include border("-bottom", 2px, $bsolid, $seconday-shadow);
        @include space(padding, all, $padding-0, $padding-10);
        padding-bottom: 5px;
        width: 100%;
        margin: auto !important;
        margin-bottom: 35px !important;
      }
      &__heading {
        width: 100%;
        display: block;
        font-size: $font-xx-reg18;
        font-weight: $font-600;
        margin-top: 30px !important;
      }
      &__discription {
        width: 100%;
        display: block;
        font-size: $font-xl-reg;
        font-weight: $font-500;
        margin-bottom: 15px !important;
        ol {
          counter-reset: item;
          @include space(padding, left, $padding-15, 0);

          margin-top: 5px;
        }
        li {
          display: block;
          margin-bottom: 15px;
          margin-bottom: 15px !important;
          line-height: 20px;
          &__liStyling {
            // padding: 15px;
            @include space(padding, all, $padding-15, $padding-15);
          }
        }
        li:before {
          content: counters(item, ".") " ";
          counter-increment: item;
          font-weight: $font-600;
        }
        &__list {
          &__icon {
            min-width: 25px !important;
          }
          margin-bottom: 10px !important;
          .MuiListItemText-root {
            margin-top: 0px;
            margin-bottom: 0px;
          }
          .MuiSvgIcon-root {
            width: 15px;
            height: 15px;
            min-width: 20px;
          }
        }
      }
    }
  }
}
.StaticPage__div__container__discription__liStyling__alpha {
  @include space(padding, left, $padding-15, 0!important);
}
.StaticPage__DataList {
  @include space(padding, left, $padding-30, 0);
  ul {
    li {
      margin-bottom: 10px;
    }
  }
}

.contact-head{
  &__text{
    color: #42424F;
    font-size: 1.50rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
    &__con-info-panel{
      &__con-info{
        color: #333333;
        line-height: 28px;
        font-size: 1rem;
        a{
          color: #f15a5c;
        }
      }
      
    }
  }
  p{
    color: #333333;
    font-size: 1rem;
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
    font-weight: normal;
  }
}

.Info-data{
  &__wrapper{
    margin-top:100px;
    &__context-text{
      color: #42424F;
      font-size: 1.50rem;
      font-weight: 500;
      padding-bottom: 0.5rem;
    }
  }
}