@mixin border-radius($r) {
	border-radius: $r;
}

@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $primary) {
	box-shadow: $x-axis $y-axis $blur $color;
}
@mixin card-box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $primary) {
	box-shadow: $x-axis $y-axis $blur $color !important;
}

@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 1440px) {
			@content;
		}
	} @else if $point == laptop {
		@media (min-width: 1920px) {
			@content;
		}
	} @else if $point == Ipad {
		@media (min-width: 768px) {
			@content;
		}
	} @else if $point == Ipad-pro {
		@media (max-width: 1024px) {
			@content;
		}
	} @else if $point == mobileonly {
		@media (max-width: 640px) {
			@content;
		}
	}
}

@mixin space($type: margin, $direction: all, $amount: $padding) {
	@if $type == padding {
	  @if $direction == all {
		padding: $amount;
	  } @else if $direction == top {
		padding-top: $amount;
	  } @else if $direction == bottom {
		padding-bottom: $amount;
	  } @else if $direction == left {
		padding-left: $amount;
	  } @else if $direction == right {
		padding-right: $amount;
	  } @else {
		padding-bottom: $amount;
	  }
	} @else {
	  @if $direction == all {
		margin: $amount;
	  } @else if $direction == top {
		margin-top: $amount;
	  } @else if $direction == bottom {
		margin-bottom: $amount;
	  } @else if $direction == left {
		margin-left: $amount;
	  } @else if $direction == right {
		margin-right: $amount;
	  } @else {
		margin-bottom: $amount;
	  }
	}
  }