
$font-family: Roboto;
$text-size: (
  "xxl": 50px,
  "xl": 32px,
  "large": 18px,
  "regular": 16px,
  "small": 14px,
  "xsmall": 12px,
  "mbregular": 10px,
);
$heading-size: (
  "large": 40px,
  "regular": 30px,
  "small": 22px,
  "medium": 20px,
  "extra-medum": 24px,
);
$font-weight: (
  "bold": bold,
);
$background-color: (
  "primary": #ffffff,
  "secondary": #ECECEC,
  "border-secondary": #efefef,
  "button-primary": #F15A5C,
  "button-secondary": #F15B5B,
 
);
$text-color: (
   "black-light": #363636,
   "black-drak": #383838,
   "black-smooth": #B3B3B3,
   "black-gray": #9D9D9D,
   "red-dark": #F15B5B,
);
$border-round: (
  "accent": #e3ebf7,
  "light-smooth": #d4d4d4,
  "boder-radius":4px,
);
$border-color: (
  "border-width": 1px,
  "bsolid": solid,
  "red-smooth":rgba(241, 91, 91, 0.31)
);

$fill-color:(
 
)