.emailActivation {
  align-items: $align-center;
  justify-content: $align-center;
  display: flex;
  height: 80vh;
  flex-direction: column;
  &__upperBlock {
    padding: 10px;
    height: 200px;
  }
  &__lowerBlock {
    padding: 10px;
    height: 200px;
    background-color: $green-color;
  }
  &__container {
    min-height: max-content;
  }
  &__paper {
    // padding: 15px;
  }
}
