.emailActivation{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    .sucess_message{
        padding: 20px 5px;
        width: 100%;
    }
}
