.subscription-type {
  @include space(padding, bottom, $padding-40, 0);
  > select {
    width: 100%;
    outline: 0;
    @include border("bottom",$border-width ,$bsolid,$black-smooth);
    @include space(padding, all, $padding-10, 0);
    @include border-radius($boder-radius);
    @include space(margin, all, $margin-30, 0);
  }
  #{&}__iner {
    display: flex;
  }
  #{&}__days {
    display: flex;
    flex: 0 0 80%;
  }
  #{&}__text {
    display: flex;
    align-items: $align-center;
    @include space(padding, left, $padding-10, 0);
  }
  #{&}__amount {
    display: flex;
    flex: 0 0 20%;
    justify-content: flex-end;
    align-items: $align-center;
  }
  #{&}__amount-text {
    font-family: map-get($map: $font-family, $key: "font-barlowbold");
    @include font-size($font-xx-reg);
  }
  #{&}__inputbox {
    width: 100px;
    .MuiInputBase-root {
      .MuiOutlinedInput-input {
        @include space(padding, all, $padding-12, 0);
      }
    }
  }
}
