.border--colordata {
  @include border("", $border-width, $bsolid, $back-color);
}
.purchased-tool {
  font-family: map-get($map: $font-family, $key: "font-barlowmedium");
  #{&}__container {
    @include space(padding, top, $padding-10, 0);
    @include space(padding, top-bottom, $padding-40, $padding-40);
  }
  .textbox-hide {
    outline: 0;
    border: 0;
    background: transparent;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #{&}__borderdata {
    display: flex;
    align-items: $align-center;
    @include font-size($font-xx-reg);
    @include border("-bottom", 2px, $bsolid, $seconday-shadow);
    padding: 0 !important;
    margin: 12px;
    line-height: 2;
  }
  #{&}__tabing {
    display: flex;
    justify-content: flex-end;
  }

  #{&}__hedding {
    @include space(margin, bottom, $margin-20, 0);
    .hedding-text {
      font-family: map-get($map: $font-family, $key: "font-barlowmedium");
      @include font-size($font-xx-reg);
    }
    .tab--button {
      border: $border-width $bsolid $tabcolor;
      width: 130px;
      display: flex;
      font-family: map-get($map: $font-family, $key: "font-barlowmedium");
      @include font-size($font-reg);
      @include space(padding, all, $padding-5, $padding-10);
      @include space(margin, right, $margin-10, 0);
      justify-content: $align-center;
      background-color: $tabcolor;
      color: $black-secondary;
      align-items: $align-center;
      text-align: $align-center;
      cursor: pointer;
      &:hover {
        border: $border-width $bsolid $secondary;
      }
      @include breakpoint(Ipad-pro) {
        width: 120px;
        line-height: 1.2rem;
        padding: 5px;
      }
      @include breakpoint(Ipad) {
        width: 86px;
        line-height: 1.2rem;
        padding: 5px;
      }
    }
    .tab--active {
      background-color: $secondary;
      color: $white;
      border: $border-width $bsolid $secondary;
    }
    .tab--button:last-child {
      margin-right: 0;
    }
  }
  .extend-validity {
    cursor: pointer;
    text-decoration: underline;
    padding-top: 5px;
  }
  .timer-svg {
    > svg {
      fill: $red;
    }
  }
  #{&}__tool-type-data {
    @include space(padding, left-right, $padding-0 !important, 0 !important);
    @include space(padding, top, $padding-5 !important, 0);
  }
  #{&}__tool-margin {
    @include space(margin, top, $padding-10, 0);
  }

  #{&}__purchased-date {
    > img,
    svg {
      display: inline-flex;
      vertical-align: middle;
    }

    .purchased-tool__date-type-text,
    .purchased-tool__date-type-time {
      display: inline-flex;
      vertical-align: middle;
    }
    .purchased-curent-text {
      color: $black-secondary;
      font-weight: $font-700;
    }
    .purchased-tool__date-type-text {
      @include font-size($font-reg);
      @include space(padding, left, $padding-5, 0);
    }
    .purchased-tool__date-type-time {
      @include font-size($font-reg);
      @include space(padding, left, $padding-15, 0);
    }
  }
  .purchased-tool__toggleclass {
    cursor: pointer;
  }

  .expiry-type {
    color: $black-gray;
  }
  .purchased-types {
    text-decoration: underline;
  }
  .purchased-tool__hover {
    :hover {
      color: $secondary;
    }
  }
  .margin-rightdata {
    @include space(margin, left, $padding-5, 0);
  }
  .curent-time {
    @include space(margin, left, $padding-15, 0);
  }
  .purchased-image {
    align-items: $align-center;
    img {
      width: 206px;
      height: 90px;
    }
  }
  .tool-hits-days {
    text-align: $align-center;
  }
  #{&}__tool-image {
    background: $dark-bg;
    @include space(margin, right, $margin-3, 0);
  }
  #{&}__tool-data {
    background: $dark-bg;
  }
  #{&}__tool-card {
    @include space(padding, top-bottom, $padding-20, $padding-30);
    @include space(padding, left-right, $padding-40, $padding-40);
  }
  #{&}__tool-title {
    font-family: map-get($map: $font-family, $key: "font-barlowmedium");
    @include font-size($font-xl-reg);
    @include space(padding, bottom, $padding-5, 0);
  }
  .subscription-day__icon {
    display: none;
  }
  .display-flex {
    display: flex;
  }

  #{&}__tool-type {
    .subscription-type-text {
      font-family: map-get($map: $font-family, $key: "font-barlowbold");
      @include font-size($font-reg);
    }
    .CopyToClipboard {
      cursor: pointer;
    }
    .tooltip__key {
      cursor: pointer;
      @include font-size($font-reg);
      .tooltip__keyCode {
      }
    }

    .subscription-day {
      font-family: map-get($map: $font-family, $key: "font-barlowmedium");
      @include font-size($font-reg);
      cursor: pointer;
      &:hover {
        @include color($secondary);
        .subscription-day__icon {
          display: flex !important;
          @include color($secondary);
        }
      }
    }
  }
  #{&}__tool-validity {
    display: flex;
    align-items: $align-center;
    .tool-extned {
      font-family: map-get($map: $font-family, $key: "font-barlowmedium");
      @include color($secondary);
      text-decoration: underline;
    }
  }
  #{&}__tool-nodays {
    display: flex;
    justify-content: $align-center;
    .tool-validity {
      align-items: $align-center;
    }
  }
  .grid-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  #{&}__tool-left-day {
    font-family: map-get($map: $font-family, $key: "font-barlowbold");
    @include font-size($font-xl-reg);
  }
  .icon-margin {
    @include space(margin, right, $padding-15, 0);
    @include breakpoint(Ipad) {
      @include space(margin, right, 0, 0);
    }
  }
  .accordion-margin {
    @include space(margin, top, $margin-3, 0);
  }
  .show--toogle {
    color: $dark-gray;
    .purchased-curent-text {
      color: $dark-gray;
      font-weight: $font-normal;
    }
  }
  .copy-to-clip {
    > svg {
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }
  #{&}__embeded-icon {
    display: flex;
    @include border("", $border-width, $bsolid, $black-gray);
    @include space(padding, all, $padding-8, 0);
    cursor: pointer;
    width: 45px;
    height: 43px;
    align-items: $align-center;
    justify-content: $align-center;
    &:hover {
      @include border("", $border-width, $bsolid, $secondary);
      svg {
        @include color($secondary);
      }
    }
    > svg {
      @include color($black-gray);
    }
  }
  #{&}__date-time {
    @include space(margin, top, $margin-15, 0);
    .purchased-on {
      font-family: map-get($map: $font-family, $key: "font-barlowbold");
      @include font-size($font-xmd-reg);
      @include color($black-gray);
    }
    .purchased-date {
      font-family: map-get($map: $font-family, $key: "font-barlowmedium");
      @include font-size($font-xmd-reg);
      @include color($black-gray);
    }
  }
  #{&}__expiry-date {
    display: flex;
    justify-content: flex-end;
    @include color($black-gray);
  }
}
