.filter-tool-shadow {
  @include box-shadow(
    0px,
    0px,
    6px,
    map-get($map: $boxshadow, $key: "black-smooth")
  );

  .filter-section {
    width: 90%;
    @include space(padding, top-bottom, $padding-24, $padding-24);
    @include space(margin, left-right, auto, auto);
    .MuiPaper-root {
      @include bgcolor($transparent);
    }
    .review-text {
      // @include font-weight($font-600);
      @include color($secondary);
      @include font-size($font-xxl);
      @include breakpoint(Ipad-pro) {
        @include font-size($font-xx-reg);
      }
    }

    .filter-text {
      // @include font-weight($font-600);
      @include color($black-secondary);
      @include font-size($font-xxl);
      @include breakpoint(Ipad-pro) {
        @include font-size($font-xx-reg);
      }
    }
    .filter-normal-text {
      @include color($black-secondary);
      @include font-size($font-xx-reg);
      // @include font-weight($font-600);
      // @include font-weight($font-600);
      @include space(margin, top, $margin-15, 0);
      @include breakpoint(Ipad-pro) {
        @include font-size($font-xx-reg);
      }
    }
    .paperstyel {
      > img {
        max-width: 100%;
      }
    }
    .filter-font-family {
      font-family: map-get($map: $font-family, $key: "font-barlowmedium");
    }
  }
  // .grid-paper-style{
  //   padding-bottom: 40px
  // }
}
.filter-inputsection {
  @include space(padding, bottom, $padding-16, 0);
  #{&}__form {
    .search-icon {
      @include bgcolorImp($back-color);
      @include space(padding, top-bottom, $padding-5, $padding-5);
      @include space(padding, left-right, $padding-15, $padding-15);
      border-top-left-radius: $boder-radius;
      border-bottom-left-radius: $boder-radius;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      .MuiIconButton-label {
        > svg {
          // width: 25px;
          // height: 25px;
          path {
            fill: $white;
          }
          @include breakpoint(Ipad-pro) {
            width: 25px;
            height: 25px;
          }
        }
      }
      @include breakpoint(Ipad-pro) {
        @include space(padding, top-bottom, $padding-2, $padding-2);
        @include space(padding, left-right, $padding-12, $padding-12);
      }
    }
  }
  #{&}__icon {
    @include space(padding, top-bottom, $padding-5, $padding-5);
    @include space(padding, left-right, $padding-10, $padding-10);
    @include color($black-secondary);
    @include font-size($font-xx-reg18);
    &:hover {
      border-radius: $boder-radius;
    }
    .MuiIconButton-label {
      > svg {
        @include space(margin, right, $padding-10, 0);
        width: 25px;
        height: 25px;
        @include breakpoint(Ipad-pro) {
          width: 20px;
          height: 20px;
        }
      }
      @include breakpoint(Ipad-pro) {
        @include font-size($font-xl-reg);
      }
    }
  }
}
// .header-bg {
//   // .MuiPaper-elevation1 {
//   //   box-shadow: none !important;
//   // }
// }
.makeStyles-root-4 {
  flex-grow: 1;
  display: flex;
  width: 100%;
}

.FilterInputBox {
  .MuiAutocomplete-root {
    width: 100%;
    height: 7vh;
  }
}

.filter_box {
  width: 100%;
}
