.filter-section{
    width: 80%;
    margin: 0 auto;
    .MuiPaper-elevation1{
        box-shadow: none !important;
    }
    .MuiPaper-root{
        background-color: transparent !important;
    }
    .review-text{
        color:map-get($map: $text-color, $key: "red-dark") ;
        font-size:map-get($map: $text-size, $key: "xxl") ;
    }
    .filter-text{
        color:map-get($map: $text-color, $key: "black-drak") ;
        font-size:map-get($map: $text-size, $key: "xxl") ;
    }
    .filter-normal-text{
        color:map-get($map: $text-color, $key: "black-drak") ;
        font-size:map-get($map: $text-size, $key: "large") ;
    }
    
}
.makeStyles-root-4 {
    flex-grow: 1;
    display: flex;
    width: 100%;
}