@charset "utf-8";

/* CSS Document */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
}
.popup {
  background: url(../images/100count.png) no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
}
.popup-model {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background: rgba(0, 0, 0, 0.37);
}

.popup-outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 400px;
  border-radius: 5px;
  max-width: 400px;
  margin: 1.75rem auto;
}

.popup-iner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  min-height: 240px;
}

.popup-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.popup-header span {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.popup-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}
.popup-text {
  font-size: 0.85rem;
  line-height: 1.5;
  margin-top: 26px;
}

.trial-version {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: right;
  margin-top: 10px;
}
.trial-version-text {
  display: inline-block;
  background: #d6d0d0;
  padding: 12px;
  margin-right: 7px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}
.trial-version-text span {
  padding-right: 5px;
  color: #f15b5b;
}
.title-toll {
  width: 100%;
  font-family: Arial;
  text-align: left;
  font-size: 16px;
  border-radius: 4px;
  padding: 12px;
  background: #fbfbfb;
  font-weight: bold;
  border-bottom: 1px solid #efefef;
  box-shadow: 0 4px 5px rgba(152, 152, 152, 0.1);
  margin-bottom: 25px;
  color: #999;
  line-height: 25px;
}

.count-contaner {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  min-height: 300px;
  box-shadow: 0px 3px 10px 10px rgba(234, 234, 234, 0.35);
  border: 2px solid #efefef;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  position: relative;
  padding-bottom: 60px;
}

.count-contaner:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #f5f5f5;
}

.count-contaner .cnt-row {
  width: 100%;
  padding: 5px;
}

.count-contaner .cnt-row ul.listingBox {
  width: 100%;
  display: table;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.count-contaner .cnt-row ul.listingBox li {
  width: 19%;
  margin-right: 1%;
  display: inline-block;
  list-style: none;
  background: linear-gradient(to right, #d4ffdb 50%, #f7f7f7 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background 0.5s ease-out;
  vertical-align: top;
  position: relative;
  text-align: center;
  padding-top: 10px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  -ms-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
}

.count-contaner .cnt-row ul.listingBox li input[type="text"] {
  padding: 10px;
  font-size: 20px;
  width: 80%;
  display: block;
  margin-bottom: 10px;
  margin-left: 10%;
  background: #fff;
  border: 1px solid #6a6a6a;
  text-align: center;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  position: relative;
  z-index: 1;
}

.count-contaner .cnt-row ul.listingBox li input[type="text"]:focus {
  outline: none;
}

.count-contaner .cnt-row ul.listingBox li input[type="text"]:disabled {
  opacity: 0.4;
}

.count-contaner .cnt-row ul.listingBox li .topheadText {
  display: block;
  font-size: 12px;
  color: #555555;
  margin-bottom: 4px;
}

.count-contaner .cnt-row ul.listingBox li .subHeadText {
  display: block;
  font-size: 12px;
  color: #555555;
  margin-bottom: 10px;
}

.activeNow {
  background-position: left bottom !important;
  box-shadow: 0px 5px 0px 0px rgb(170, 210, 176) !important;
}

/* .activeNow:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #d4ffdb!important;
    transition: background 0.3s linear;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
} */

.activeNow .topheadText,
.activeNow .subHeadText {
  color: #3ea04e !important;
}

.activeNow input[type="text"] {
  background: #fff !important;
  color: #237731;
  border: 1px solid #b8e0bf !important;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(63, 158, 78, 0.5) !important;
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(63, 158, 78, 0.5) !important;
  box-shadow: inset 0px 0px 5px 0px rgba(63, 158, 78, 0.5) !important;
}

.header-nav {
  /* display: inline-block; */
  display: none;
  width: 100%;
}

.back-nav {
  float: right;
  cursor: pointer;
}

.back-nav a {
  text-decoration: none;
  color: #6d5f24;
}

.back-nav {
  display: inline-block;
  border: 1px solid #c9ae34;
  color: #705d07;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: calibri;
  padding: 10px 20px;
  margin: 10px;
  box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  -moz-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  -webkit-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  background-image: linear-gradient(to top, #fce374, #fcdf5b);
  background-color: #fce374;
}

.back-nav:hover,
.back-nav:active {
  border: 1px solid #967d09;
  color: #705d07;
  box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d;
  -moz-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d;
  -webkit-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d;
  background-color: #fcdf5b;
}

/* Desktops and laptops ----------- */

@media screen and (min-width: 320px) and (max-width: 768px) {
  .count-contaner {
    width: 100%;
    margin: 0px auto;
  }
  .count-contaner .cnt-row ul.listingBox li {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .count-contaner {
    width: 100%;
    margin: 0px auto;
  }
  .count-contaner .cnt-row ul.listingBox li {
    width: 45%;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .count-contaner {
    width: 100%;
    margin: 0px auto;
  }
  .count-contaner .cnt-row ul.listingBox li {
    width: 19%;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1600px) {
  .count-contaner {
    width: 90%;
    margin: 0px auto;
  }
  .count-contaner .cnt-row ul.listingBox li {
    width: 19%;
  }
}

.exclamation {
  animation-iteration-count: infinite;
  animation-name: bouncing;
  transform-origin: center bottom;
  margin-left: -31px;
}
.exclamation svg {
  display: block;
  margin: 0 auto;
}

@keyframes bouncing {
  0%,
  10%,
  26%,
  40%,
  50%,
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate(14.5px, 10px);
  }

  20%,
  21% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate(14.5px, 2px);
  }

  35% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate(14.5px, 4px);
  }

  45% {
    transform: translate(14.5px, 8px);
  }
}
