.header-bg {
  @include bgcolor($gray-primary);
  @include space(padding, top-bottom, $padding-25, $padding-25);
  .MuiTypography-h6{
    >a{
      img{
        @include breakpoint(Ipad-pro) {
          max-width: 80%;
        }
      }
    }
  }
}
.MuiPaper-elevation4 {
  box-shadow: none !important;
}
.header-box {
  z-index: 99;
  .header-text-color {
    display: flex;
    align-items: $align-center;
    @include color($black-primary);
    @include breakpoint(sm-mobileonly) {
        .menu-button,.vertical-line{
          display: none;
        }
    }
    .toggle-icon{
      display: none;
      @include breakpoint(sm-mobileonly) {
          display: block;
          cursor: pointer;
    }
    }
  }
  .shoping__card {
    @include space(padding, left, $padding-15, 0);
    cursor: pointer;
    position: relative;
    a {
      @include color($black-primary);
    }
  }
  .userForm {
    min-width: 120px !important;
  }
  .login__registration {
    display: flex;
  }
  .menu-button {
    font-family: map-get($map: $font-family, $key: "font-barlowmedium");
    @include font-size($font-xx-reg);
    @include space(padding, all, $padding-15, 0);
    cursor: pointer;
  }
  .user-after-login {
    .custom-button {
      @include color($black-primary);
      @include font-size($font-xx-reg18);
      cursor: pointer;
      font-family: map-get($map: $font-family, $key: "font-barlowmedium");
      &:hover {
        background-color: transparent !important;
      }
    }
    .user-btn {
      width: auto !important;
    }
  }
}
