.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: map-get($map: $text-size, $key: "small");
  background-color: map-get($map: $background-color, $key: secondary);
  @include space(padding, top AND right AND bottom AND left, $padding-15, $padding-24);

}
