@charset "utf-8";

/* CSS Document */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row-custom:before,
.row-custom:after {
  content: "";
  display: table;
}

.row-custom:after {
  clear: both;
}
.trial-version {
  display: block;
  margin: 0 auto;
  width: 50%;
  text-align: right;
  margin-top: 10px;
}
.trial-version-text {
  display: inline-block;
  background: #d6d0d0;
  padding: 12px;
  margin-right: 7px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}
.trial-version-text span {
  padding-right: 5px;
  color: #f15b5b;
}
.title-toll {
  width: 100%;
  font-family: Arial;
  text-align: left;
  font-size: 16px;
  border-radius: 4px;
  padding: 12px;
  background: #fbfbfb;
  font-weight: bold;
  border-bottom: 1px solid #efefef;
  box-shadow: 0 4px 5px rgba(152, 152, 152, 0.1);
  margin-bottom: 25px;
  color: #999;
  line-height: 25px;
}

.toolbind {
  width: 58%;
  margin: 0 auto;
  box-shadow: 0 4px 5px rgba(152, 152, 152, 0.1);
  padding: 20px;
  padding-bottom: 30px;
  min-height: 300px;
  border: 21px solid #f5f5f5;
}

.row-custom {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  clear: both;
}

.scales {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  width: 100px;
  height: 100px;
  border: 1px solid #cecece;
  float: left;
  padding: 0;
  margin: 0 0 0 -1px;
  position: relative;
  font-family: arial;
  cursor: pointer;
  -webkit-transition: box-shadow 0.2s ease, z-index 0s 0.2s ease,
    -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0.2s ease,
    -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease,
    -webkit-transform;
}

.active-drop {
  z-index: 23333;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.pur-txt {
  color: #6e2cdc;
}

.sortable .startingpoint {
  /*display: inline-block;*/
  width: 96px;
  height: 96px;
  border: 2px solid #d94333;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 0px;
  padding: 0px;
  z-index: 2;
  position: relative;
  margin: auto;
  transition: all 0.3s linear;
  cursor: move;
}

.startingpoint {
  margin: 0px;
  padding: 0px;
}

.nimatenow {
  position: absolute;
}

.scaleText {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  display: table;
  text-align: center;
  z-index: 1;
  color: #969696;
}

.scaleText span {
  display: table-cell;
  vertical-align: middle;
}

.leftTexthead {
  width: calc(100% - 110px);
  float: left;
}

.rightSet {
  width: 100px;
  float: right;
}

.miheigh {
  min-height: 110px;
}

.scales .startingpoint {
  -webkit-animation: shadow-ripple 0.9s ease-in;
  -moz-animation: shadow-ripple 0.9s ease-in;
  -o-animation: shadow-ripple 0.9s ease-in;
  animation: shadow-ripple 0.9s ease-in;
  box-shadow: 0 0 0 rgba(32, 64, 231, 0.3);
}

.header-nav {
  /* display: inline-block; */
  display: none;
  width: 100%;
}
.back-nav {
  float: right;
  cursor: pointer;
}

.back-nav a {
  text-decoration: none;
  color: #6d5f24;
}

.back-nav {
  display: inline-block;
  border: 1px solid #c9ae34;
  color: #705d07;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: calibri;
  padding: 10px 20px;
  margin: 10px;
  box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  -moz-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  -webkit-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d, 0 2px 4px 0 #d4d4d4;
  background-image: linear-gradient(to top, #fce374, #fcdf5b);
  background-color: #fce374;
}

.back-nav:hover,
.back-nav:active {
  border: 1px solid #967d09;
  color: #705d07;
  box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d;
  -moz-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d;
  -webkit-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852,
    inset 0 0 0 1px #fce88d;
  background-color: #fcdf5b;
}

@keyframes shadow-ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(217, 67, 51, 0.3);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(217, 67, 51, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(217, 67, 511, 0);
  }
}

@-webkit-keyframes shadow-ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(217, 67, 511, 0.3);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(217, 67, 51, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(217, 67, 51, 0);
  }
}

@-moz-keyframes shadow-ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(217, 67, 51, 0.3);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(217, 67, 51, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(217, 67, 51, 0);
  }
}

@-o-keyframes shadow-ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(217, 67, 51, 0.3);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(217, 67, 51, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(217, 67, 51, 0);
  }
}

@media all and (min-width: 320px) and (max-width: 480px) {
  .scaleText span {
    word-break: break-word;
    font-size: 14px;
  }
  .toolbind {
    border: 2px solid #f5f5f5;
    padding: 0px;
  }
}

@media all and (min-width: 481px) and (max-width: 767px) {
  .scaleText span {
    word-break: break-word;
    font-size: 14px;
  }
  .toolbind {
    border: 4px solid #f5f5f5;
    padding: 0px;
  }
  .sortable .startingpoint {
    width: 80px;
    height: 80px;
  }
}

@media all and (min-width: 320px) and (max-width: 480px) {
  .miheigh {
    min-height: 58px;
  }
  .sortable .startingpoint {
    width: 40px;
    height: 40px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .scaleText span {
    word-break: break-word;
    font-size: 14px;
  }
}

@media all and (max-width: 1024px) {
  .toolbind {
    width: 100%;
  }
}

.popup {
  background: url(../images/craousal_Rating.png) no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
}
.popup-model {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background: rgba(0, 0, 0, 0.37);
}

.popup-outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 400px;
  border-radius: 5px;
  max-width: 400px;
  margin: 1.75rem auto;
}

.popup-iner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  min-height: 240px;
}

.popup-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.popup-header span {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.popup-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}
.popup-text {
  font-size: 0.85rem;
  line-height: 1.5;
  margin-top: 26px;
}

.trial-version {
  display: block;
  margin: 0 auto;
  width: 50%;
  text-align: right;
  margin-top: 10px;
}
.trial-version-text {
  display: inline-block;
  background: #d6d0d0;
  padding: 12px;
  margin-right: 7px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}
.trial-version-text span {
  padding-right: 5px;
  color: #f15b5b;
}
.popup {
  background-image: url(../images/dnd.png);
}
.popup .toolbind,
.popup #outdata {
  display: none;
}
.exclamation {
  animation: ease-out;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: bouncing;
  transform-origin: center bottom;
  margin-left: -31px;
}
.exclamation svg {
  display: block;
  margin: 0 auto;
}

@keyframes bouncing {
  0%,
  10%,
  26%,
  40%,
  50%,
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate(14.5px, 10px);
  }

  20%,
  21% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate(14.5px, 2px);
  }

  35% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate(14.5px, 4px);
  }

  45% {
    transform: translate(14.5px, 8px);
  }
}
