.forgot--password {
  // padding-top: map-get($map: $padding, $key: "padding-40");
  @include space(padding, top, $padding-40, 0);

  .form-button-grop {
    .forgot__button {
      min-width: 292px !important;
      // padding: 15px !important;
      @include space(padding, all, $padding-15 !important, 0);
      font-size: map-get($map: $text-size, $key: "large20");
      @media (min-width: 1280px) and (max-width: 1365px) {
        font-size: map-get($map: $text-size, $key: "xsmall");
        // padding-top: map-get($map: $padding, $key: "padding-15");
        // padding-bottom: map-get($map: $padding, $key: "padding-10");
        @include space(padding, top-bottom, $padding-15, $padding-10);
      }
    }
  }
}

.forgot {
  .form-area__control {
    width: 100%;
  }
  font-family: map-get($map: $font-family, $key: "font-barlowmedium");
  background-color: map-get($map: $background-color, $key: "secondary");
  min-height: 88vh;
  width: 100%;
  display: flex;
  align-items: center;
  form {
    width: 30%;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 auto;
    .form-group {
      margin-bottom: 25px;
      &:last-child {
        margin: 0;
      }
    }
    label {
      display: block;
      text-align: left;
    }
    input {
      display: block;
      width: 100%;
      height: 50px;
      outline: none;
      padding: 0 0 0 10px;
    }
    button {
      display: block;
      width: 100%;
      text-transform: capitalize;
      font-size: 16px;
      background-color: map-get($map: $background-color, $key: "secondary");
      padding: 10px 0;
      cursor: pointer;
    }
  }
}
