.back-button {
  font-weight: map-get($map: $font-weight, $key: font-600);
  display: block;
  padding: map-get($map: $padding, $key: "padding-15") 0;
  text-align: map-get($map: $alignment, $key: align-center);
  > a {
    color: map-get($map: $text-color, $key: "black-drak") !important;
    &:hover {
      text-decoration: none !important;
    }
  }
}
